In [2]:
import pandas as pd

df_tzmap = pd.read_csv("iata_tzmap.csv", sep="\t", header=None, names=["iata_code", "tz"])
df = pd.read_csv("optd_por_public.csv", sep="^")

df

,iata_code,icao_code,faa_code,is_geonames,geoname_id,envelope_id,name,asciiname,latitude,longitude,...,location_type,wiki_link,alt_name_section,wac,wac_name,ccy_code,unlc_list,uic_list,geoname_lat,geoname_lon
0,AAA,NTGA,NaN,Y,6947726,NaN,Anaa Airport,Anaa Airport,-17.352606,-145.509956,...,A,https://en.wikipedia.org/wiki/Anaa_Airport,ru|Анаа|=wkdt|Q1430785|,823,French Polynesia,XPF,PFAAA|,NaN,-17.35505,-145.50851
1,AAA,NaN,NaN,Y,4034700,NaN,Anaa,Anaa,-17.416670,-145.500000,...,C,https://en.wikipedia.org/wiki/Anaa,|Anaa|=es|Isla de Todos Santos|=|Anau|=|Tapuho...,823,French Polynesia,XPF,PFAAA|,NaN,-17.41109,-145.49414
2,AAB,YARY,NaN,Y,7730796,NaN,Arrabury Airport,Arrabury Airport,-26.693170,141.047800,...,A,https://en.wikipedia.org/wiki/Arrabury_Airport,en|Arrabury Airport|,802,Australia,AUD,AUAAB|,NaN,NaN,NaN
3,AAB,NaN,NaN,Y,2177638,NaN,Arrabury,Arrabury,-26.764080,141.028530,...,C,NaN,en|Arrabury|,802,Australia,AUD,AUAAB|,NaN,NaN,NaN
4,AAC,HEAR,NaN,Y,6297289,NaN,El Arish International Airport,El Arish International Airport,31.073330,33.835830,...,A,https://en.wikipedia.org/wiki/El_Arish_Interna...,ar|مطار العريش الدولي|=en|El Arish Internation...,591,Egypt,EGP,EGAAC|,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20746,ZZU,NaN,NaN,Y,925475,NaN,Mzuzu,Mzuzu,-11.465560,34.020710,...,C,https://en.wikipedia.org/wiki/Mzuzu,sr|Мзузу|=uk|Мзузу|=ja|ムズズ|=ko|음주주|=ru|Мзузу|=...,542,Malawi,MWK,MWZZU|,NaN,NaN,NaN
20747,ZZV,KZZV,NaN,Y,4528929,NaN,Zanesville Municipal Airport,Zanesville Municipal Airport,39.950000,-81.880000,...,A,https://en.wikipedia.org/wiki/Zanesville_Munic...,wkdt|Q8066147|=ceb|Zanesville Municipal Airpor...,44,Ohio,USD,NaN,NaN,39.94424,-81.89208
20748,ZZV,NaN,NaN,Y,4528923,NaN,Zanesville,Zanesville,39.940350,-82.013190,...,C,https://en.wikipedia.org/wiki/Zanesville%2C_Ohio,post|43701|=post|43702|=fa|زنسویل، اوهایو|=kk|...,44,Ohio,USD,USZZV|,NaN,NaN,NaN
20749,ZZW,NaN,NaN,N,0,1.0,Day Trip Mystery,Day Trip Mystery,-32.000000,147.000000,...,CA,NaN,NaN,802,Australia,AUD,NaN,NaN,NaN,NaN
20750,ZZZ,NaN,NaN,N,0,1.0,Greenwich mean TM,Greenwich mean TM,51.880000,0.233300,...,CA,NaN,NaN,493,United Kingdom,GBP,NaN,NaN,NaN,NaN

In [3]:
df = df.join(df_tzmap.set_index("iata_code"), on="iata_code", how="inner").drop_duplicates(subset="iata_code").reset_index()
df = df[["iata_code", "name", "tz"]]
df

     iata_code                            name                   tz
0          AAA                    Anaa Airport       Pacific/Tahiti
1          AAB                Arrabury Airport   Australia/Brisbane
2          AAC  El Arish International Airport         Africa/Cairo
3          AAD                   Adado Airport     Africa/Mogadishu
4          AAE      Rabah Bitat Annaba Airport       Africa/Algiers
...        ...                             ...                  ...
9758       ZZE  Zangilan International Airport            Asia/Baku
9759       ZZF          Mystery Flight Airport  Australia/Melbourne
9760       ZZO               Zonalnoye Airport        Asia/Sakhalin
9761       ZZU                   Mzuzu Airport      Africa/Blantyre
9762       ZZV    Zanesville Municipal Airport     America/New_York

[9763 rows x 3 columns]

In [20]:
# Convert df into a .ts file for a list of objects, keys in object are the iata, name and tz
# Escape double quotes in the name

with open("iata_tzmap.ts", "w") as f:
    f.write("export const iata_tzmap = [\n")
    for i, row in df.iterrows():
        f.write(
            "  {"
            + 'iata: "{}", name: "{}", tz: "{}"'.format(
                row["iata_code"], row["name"].replace('"', '\\"'), row["tz"]
            )
            + "}"
        )
        if i < len(df) - 1:
            f.write(",")
        f.write("\n")
    f.write("];\n")